body{
    margin:0px;
    padding: 0px;
  }
  header{
    width:100%;

  }

  .menu{
      
    position: relative;
    height: 50px;
    overflow: hidden;
    background-color:blue;
    text-align: center;
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .menu ul li{
    position: relative;
  float: left;
  left: 40%;

}
  .menu li a{
    list-style-type: none;
    display: block;
    color: white;
    position: relative;
    padding: 10px 20px;
    text-align: center;        
    text-decoration: none;

  }


  #navbar-container{
    position: relative;
    display: block;
    text-align: center;
  }
  #navbar-container ul{
    position: relative;
    list-style-type: none;
    height: 50px;
    overflow: hidden;
    background-color:blue;
    text-align: center;
    display: block;
    padding: 0px;
    margin: 0px;
  }
  #navbar-container ul li{
    position: relative;
  float: left;
  left: 40%;

}

  #navbar-container ul li a{
    display: block;
    color: white;
    position: relative;
    padding: 10px 20px;
    text-align: center;        
    text-decoration: none;
}

#onpage{
  text-decoration: underline overline;
}
#sidebar{
  position: fixed;
  float: right;
  right: 0%;
  background-color: red;
  width: 20%;
  height: 100%;
  padding:0px;
}
#sidebar-container ul{
  list-style-type: none;
  text-align: center;
  padding: 0px;
}
#sidebar-container ul li{
  text-align: center;
  padding: 15px 0;
}
#sidebar-container ul li a{
  list-style-type: none;
  text-decoration: none;
  padding: 15px 0;
  color: #fff;
}
